%% -*- mode:erlang -*-
{erl_opts,
 [debug_info, warnings_as_errors]}.

{deps,
 [ {supervisor3, "1.1.9"}
 , {epgsql, "4.7.0"}
 , {gun, "2.0.1"}
 , {cowboy, "2.10.0"}
 ]}.

{dialyzer, [{warnings, [unknown]}]}.

{profiles,
 [ {test,
    [ {deps, [{proper, "1.2.0"}]}
    , {cover_enabled, true}
    ]}

 , {nosup3,
    [{erl_opts,
      [ debug_info
      , warnings_as_errors
      , {d, 'USE_OTP_SUPERVISOR'}
      ]},
     {deps,
      [ {epgsql, "4.7.0"}
      , {gun, "2.0.1"}
      , {cowboy, "2.10.0"}
      ]}
    ]}

 , {dev,
    [{plugins, [rebar3_hex]}]}
 ]}.

{xref_checks,
 [ undefined_function_calls
 , deprecated_function_calls
 ]
}.
